@tailwind base;
@tailwind components;
@tailwind utilities;

.gamepad-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #333;
  padding: 10px;
  border-radius: 10px;
}

.gamepad-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-bottom: 10px;
  background-color: #fff;
  border-radius: 50%;
  color: #333;
  cursor: pointer;
}

.up-btn {
  margin-bottom: 20px;
}

.down-btn {
  margin-top: 20px;
}

i {
  font-size: 30px;
}

.image-container {
  position: fixed;
  width: 100%;
  z-index: 0;
  background-color: rgba(37, 8, 184, 0.367);
}

.image-container > div {
  position: unset !important;
}

.image-container .image {
  object-fit: contain;
  opacity: 0.3;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}

.bg-registerLogin {
  /* background-image: url("/assets-web/images/register/bg.jpg");

  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  opacity: 1;
  background-color: #000000;
  box-shadow: inset 0 0 0 3px rgba(255, 255, 255, 0.1),
    inset 0 0 10px rgba(0, 0, 0, 0.5), inset 0 0 20px rgba(255, 255, 255, 0.2),
    inset 0 0 30px rgba(0, 0, 0, 0.3), inset 0 0 40px rgba(255, 255, 255, 0.4),
    inset 0 0 70px rgba(0, 0, 0, 0.5);
  background-blend-mode: multiply;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
.chat-container {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  border-left: 1px solid black;
}
/* Modifier la barre de défilement */
::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  background-color: #212121;
}

/* Modifier le fond de la barre de défilement */
::-webkit-scrollbar-track {
  background-color: #212121;
}

/* Modifier la couleur de la barre de défilement */
::-webkit-scrollbar-thumb {
  background-color: #1f5d9b6d;
  border-radius: 5px;
  border: 3px solid #212121;
}

/* Modifier la couleur de la barre de défilement lorsqu'elle est survolée */
::-webkit-scrollbar-thumb:hover {
  background-color: #333333;
  border-color: #333333;
}

/* Modifier la couleur de la barre de défilement lorsqu'elle est active (glissée) */
::-webkit-scrollbar-thumb:active {
  background-color: #444444;
  border-color: #444444;
}

@import "~@fortawesome/fontawesome-free/css/all.css";
